{{template "header.html" .}}

<div class="ui container">
    <div class="ui padded segment">
        {{with $success := .Request.FormValue "success"}}
            <div class="ui large info message">
                <div class="content">
                    <div class="header">
                        {{if eq $success "changes"}}
                            Changes saved successfully.
                        {{else}}
                            Success!
                        {{end}}
                    </div>
                    <a class="close-link" href="/admin/goals"><i class="close icon"></i></a>
                </div>
            </div>
            <div class="ui hidden divider"></div>
        {{end}}

        <div class="ui huge orange dividing header">Goals</div>
        <div class="ui huge message">
            <i class="info circle grey icon"></i>Set short and long-term milestones for your project.
        </div>
        <div class="ui hidden divider"></div>

        <form class="ui huge form" action="/admin/goals/create" method="POST">
            <div class="equal width fields">
                <div class="field">
                    <input name="target" type="text" placeholder="# of patrons">
                </div>
                <div class="field">
                    <button type="submit" class="ui huge fluid orange button">Add Goal</button>
                </div>
            </div>
        </form>

        <div class="ui hidden section divider"></div>

        <div class="ui huge middle aligned selection divided list">
            {{if $.Goals}}
                {{range $g := $.Goals}}
                    <a class="item" href="/admin/goals/edit/{{$g.ID}}">
                        <div class="right floated content">
                            <div class="ui horizontal divided list">
                                <div class="item">&nbsp;</div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="header">
                                {{$g.Target}} Patrons
                            </div>
                        </div>
                    </a>
                {{end}}
            {{end}}
        </div>

    </div>
</div>

{{template "footer.html" .}}
