{{template "header.html" .}}

{{if or $.Patron.Amount $.Patron.Canceled}}
    <div class="ui container">
        <div class="ui padded segment">
            <div class="ui huge dividing orange header">Support Level</div>
            <div class="ui hidden divider"></div>

            {{with $success := .Request.FormValue "success"}}
                <div class="ui large info message">
                    <div class="content">
                        <div class="header">
                            {{if eq $success "changes"}}
                                Changes saved successfully.
                            {{else}}
                                Success!
                            {{end}}
                        </div>
                        <a class="close-link" href="/patron/support"><i class="close icon"></i></a>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
            {{end}}

            <div class="center-aligned">
                <div class="ui large orange statistic">
                    {{if $.Patron.Canceled}}
                        <div class="value">
                            Canceled
                        </div>
                        <div class="label">
                            &nbsp;
                        </div>
                    {{else}}
                        <div class="value">
                            ${{comma $.Patron.Amount}}
                        </div>
                        <div class="label">
                            per month
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>

    <div class="ui hidden divider"></div>
{{end}}

<div class="ui container">
    <div class="ui three column stackable grid">
        {{range $t := $.Levels}}
            <div class="column">
                <div class="ui segment">

                    <div class="support-box">
                        <div class="ui large center aligned dividing {{if ge $.Patron.Amount $t.Amount}}orange{{end}} header">
                            {{$t.Name}}
                        </div>
                        <div class="center-aligned">
                            <div class="ui small statistic">
                                <div class="value">
                                    ${{comma $t.Amount}}
                                </div>
                                <div class="label">
                                    per month
                                </div>
                            </div>
                        </div>


                        <div class="page-text">
                            {{$t.Description | markdown}}
                        </div>
                        <form class="ui large form" action="/patron/support" method="POST">
                            <input type="hidden" name="amount" value="{{$t.Amount}}">
                            <div class="field support-box-button">
                                <button type="submit" class="ui fluid orange button">Select</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {{end}}
        <div class="column">
            <div class="ui segment">
                <div class="support-box">
                    <div class="ui large center aligned dividing header">
                        Custom Level
                    </div>
                    <div class="center-aligned">
                        <div class="ui small statistic">
                            <div class="value">
                                $__
                            </div>
                            <div class="label">
                                per month
                            </div>
                        </div>
                    </div>
                    <div class="ui section hidden divider"></div>
                    <div class="ui section hidden divider"></div>
                    <div class="ui section hidden divider"></div>
                    <form class="ui large form" action="/patron/support" method="POST">
                        <div class="field">
                            <input type="text" name="amount" placeholder="$">
                        </div>
                        <div class="field support-box-button">
                            <button type="submit" class="ui fluid orange button">Select</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <div class="support-box">
                    <div class="ui large center aligned dividing header">
                        Cancel Support
                    </div>
                    <div class="center-aligned">
                        <div class="ui small statistic">
                            <div class="value">
                                $0
                            </div>
                            <div class="label">
                                per month
                            </div>
                        </div>
                    </div>
                    <div class="ui section hidden divider"></div>
                    <div class="ui section hidden divider"></div>
                    <div class="ui section hidden divider"></div>
                    <form class="ui large form" action="/patron/support" method="POST">
                        <div class="field">
                            <input type="text" name="amount" value="0" placeholder="$0">
                        </div>
                        <div class="field support-box-button">
                            <button type="submit" class="ui fluid orange button">Select</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{{template "footer.html" .}}
