{{template "header.html" .}}

<div class="ui hidden divider"></div>

<div class="ui container">
    <div class="ui padded segment">
        <div class="ui large dividing header">Sign In</div>
        <div class="ui hidden divider"></div>
        {{with $error := $.Request.FormValue "error"}}
            <div class="ui large negative message">
                <div class="content">
                    <div class="header">
                        {{if eq $error "invalid"}}
                            Sign in failed. Please try again.
                        {{else if eq $error "required"}}
                            Sign in required.
                        {{else}}
                            Error. Please try again.
                        {{end}}
                    </div>
                </div>
            </div>
            <div class="ui hidden divider"></div>
        {{end}}
        <form class="ui huge form" action="/signin" method="POST" novalidate autocomplete="off">
            <div class="equal width fields">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        <input title="email" name="email" type="email" value="{{$.Request.FormValue "email"}}" placeholder="Email address" autofocus required>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="key icon"></i>
                        <input name="password" type="password" placeholder="Password" autofocus>
                    </div>
                </div>
                <div class="field">
                    <button type="submit" class="ui huge fluid orange button">Sign In</button>
                </div>
            </div>

            <div class="center-aligned field">
                <div class="ui hidden section divider"></div>
                <a href="/forgot">Forgot password?</a>
            </div>
        </form>
    </div>
</div>

{{template "footer.html" .}}

